.search-container {
    position: relative;
    width: 100%;
    max-width: 400px;
    display: flex;
    align-items: center;
  }
  
  .search-input {
    width: calc(100% - 40px); /* Deixar espai per a la icona */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .search-icon {
    margin-left: -35px; /* Posicionar la icona a la dreta de l'input */
    cursor: pointer;
    width: 24px; /* Ajustar la mida de la icona */
    height: 24px; /* Ajustar la mida de la icona */
  }
  
  .search-list {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-top: none;
    background-color: white;
    z-index: 1000;
    border-radius: 0 0 4px 4px;
  }
  
  .search-list li {
    padding: 10px;
    cursor: pointer;
  }
  
  .search-list li:hover {
    background-color: #f0f0f0;
  }